.sk-container {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #666;
  color: #fff;
  z-index: 99;
  content: "";
  clear: both;
  display: block;
  text-align: right;
}

.sk-hide-button {
  display: none;
}

.sk-buttons {
  float: left;
  padding: 1rem;
  width: 33.33%;
  font-size: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.sk-container .sk-buttons.LSK {
  text-align: left;
}

.sk-container .sk-buttons.CSK {
  text-align: center;
}

.sk-container .sk-buttons.CSK:first-child {
  margin-left: 33.33%;
}

.sk-container .sk-buttons.RSK {
  float: right;
  text-align: right;
}

.sk-cancel-key {
  color: #fff;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #666;
}

.sk-cancel-key-touch {
  text-align: center;
}

.sk-key-menu[role="dialog"][data-subtype="menu"] {
  visibility: hidden;
}

.sk-key-menu[role="dialog"][data-subtype="menu"].visible {
  visibility: visible;
}

/* Action Menu 
 * Copied from shared/style/action_menu.css 
 * Some cleanup needs to be done
*/

/* Main dialog setup */
.sk-key-menu[role="dialog"][data-type="action"] {
  background: rgba(45,45,45,.9); /*#2D2D2D*/
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0 7rem;
  /**
 * Using "font-size: 0" to avoid the unwanted visual space (about 3px) created
 * by white spaces and line breaks in the code between inline-block elements.
 */
  font-size: 0;
  color: #fff;
}

.sk-key-menu[role="dialog"][data-type="action"]:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 0.1rem;
  height: 100%;
  margin-left: -0.1rem;
}

.sk-key-menu[role="dialog"][data-type="action"] > header {
  -moz-box-sizing: border-box;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 5rem;
  line-height: 4.9rem;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  font-weight: normal;
  padding: 0 3rem;
  border-bottom: 0.1rem solid #616262;
}

.sk-key-menu[role="dialog"][data-type="action"] > header h1 {
  font-size: 1.6rem;
  line-height: 4.9rem;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-weight: normal;
}

/* Generic set of actions in toolbar */
.sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] {
  height: 100%;
  float: right;
  margin: 0 -3rem 0 1rem;
  padding: 0;
}

.sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] a,
.sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] button {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: auto;
  min-width: 5rem;
  height: 4.9rem;
  margin-bottom: 0;
  padding: 0 1rem;
  border-radius: 0;
  line-height: 4.9rem;
  background: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
}

.sk-key-menu[role="dialog"][data-type="action"] > header a,
.sk-key-menu[role="dialog"][data-type="action"] > header button {
  border: none;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1em;
  color: #fff;
  border-radius: 0;
  text-decoration: none;
}

.sk-key-menu[role="dialog"][data-type="action"] button::-moz-focus-inner {
  outline: none;
  border: none;
}

/* Pressed state */
.sk-key-menu[role="dialog"][data-type="action"] > header a:active .icon:after,
.sk-key-menu[role="dialog"][data-type="action"] > header button:active .icon:after,
.sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] a:active,
.sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] button:active {
  background: #008aaa !important;
}

/* Disabled state */
.sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] a[aria-disabled="true"],
.sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

/* Icon definitions */
.sk-key-menu[role="dialog"][data-type="action"] > header .icon {
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  height: 4.9rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center / 3rem auto;
  font-size: 0;
  overflow: hidden;
}

/* Navigation links (back, cancel, etc) */
.sk-key-menu[role="dialog"][data-type="action"] > header > button,
.sk-key-menu[role="dialog"][data-type="action"] > header > a {
  float: left;
  width: 5rem;
  height: 4.9rem;
  background: none;
  overflow: visible;
  margin: 0 -1rem 0 -3rem;
  position: relative;
}

.sk-key-menu[role="dialog"][data-type="action"] > header > button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.sk-key-menu[role="dialog"][data-type="action"] > header > button .icon,
.sk-key-menu[role="dialog"][data-type="action"] > header > a .icon {
  position: static;
  display: block;
  width: 3rem;
  height: 4.9rem;
  margin: 0;
  overflow: visible;
  font-size: 0;
}

.sk-key-menu[role="dialog"][data-type="action"] > header > button .icon:after,
.sk-key-menu[role="dialog"][data-type="action"] > header > a .icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 3rem;
  height: 4.9rem;
}

/* Content */
.sk-key-menu[role="dialog"][data-type="action"] > section {
  color: #fff;
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 2rem;
  font-size: 1.6rem;
  overflow: scroll;
}

/* Specific component code */
.sk-key-menu[role="dialog"][data-type="action"] > menu {
  margin: 0;
  padding: 0;
  max-height: calc(100% - 11rem); /*header(5rem) + footer(7rem) + padding(1.5rem)*/
  height: auto;
  padding: 1.5rem;
  overflow: auto;
  width: auto;
  border: none;
  background: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
}

.sk-key-menu[role="dialog"][data-type="action"] > menu > button {
  width: 100%;
  height: 4rem;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  line-height: 4rem;
  outline: none;
  font-size: 1.6rem;
  text-shadow: none;
  text-align: start;
  padding: 0 1.2rem;
  -moz-padding-end: 0.2rem;
  margin: 0 1.5rem 1rem 1.5rem;
  background: #fff;
  border-radius: 0;
  position: relative;
  color: #000;
  font-family: sans-serif;
  font-style: italic;
  margin: 0;
}

.sk-key-menu[role="dialog"][data-type="action"] > menu > button.icon,
.sk-key-menu[role="dialog"][data-type="action"] > menu > button.icon:active,
.sk-key-menu[role="dialog"][data-type="action"] > menu > button.icon:hover {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 2% center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 3rem auto;
  padding-left: 3.2rem;
}

/* Press state */
.sk-key-menu[role="dialog"][data-type="action"] > menu > button:active,
.sk-key-menu[role="dialog"][data-type="action"] > menu > button:hover {
  background: #00aacc;
  color: #fff;
}

/* Disabled */
.sk-key-menu[role="dialog"][data-type="action"] > menu > button[disabled] {
  background-color: rgba(87, 87, 87, 0.8);
  color: rgba(255, 255, 255, 0.4);
  opacity: 0.5;
  pointer-events: none;
}

/*
 * Right to Left view
 */

html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"]:before {
  margin-left: auto;
  margin-right: -0.1rem;
}

html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header h1 {
  text-align: right;
}

html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] {
  float: left;
  margin-left: -3rem;
  margin-right: 1rem;
}

html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] a,
html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header menu[type="toolbar"] button {
  float: right;
}

html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header > button,
html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header > a {
  float: right;
  margin-left: -1rem;
  margin-right: -3rem;
}

html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header > button:after,
html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header > a:after {
  left: auto;
  right: 0;
  background-position: 0 top;
}

html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header > button .icon:after,
html[dir="rtl"] .sk-key-menu[role="dialog"][data-type="action"] > header > a .icon:after {
  left: auto;
  right: 0;
}
